/* @import url('https://fonts.googleapis.com/css2?family=Belleza&family=Lato:ital,wght@0,300;1,400&family=Pacifico&display=swap');



body {
    background: rgb(245, 243, 243);

}

h1 {
    font-family: 'Belleza', sans-serif;
    color: #181818;
    font-size: 1.2em;
    width: 90%;
    margin: 20px 10px 20px 10px;
    border: 1px solid rgb(173, 161, 161);
    padding: 20px 10px 20px 10px;
    width: 400px;
    height: 400px;
    background-color: rgb(141, 141, 192);
    letter-spacing: 10px;
    border-radius: 20%;
    box-shadow: 20px 20PX 20px 20px #8a87876b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;


} */


/* * {
    color: yellow;
} */



/* #aslema1 {
    color: red;
    font-size: 60px;
    font-weight: bold;
}

#aslema {
    color: red;
    font-size: 60px;
    font-style: italic;

} */


@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');







.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F8F8F8;
}

.navbar>ul {
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10rem;


}

.navbar>ul>li {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;


}


.navbar>ul>li::before {
    content: "";
    border-bottom: 2px solid red;
    width: 20px;
    height: 30px;

}

h1{
    color: black;
}