/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 4rem;
}



.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(160, 150, 150);
    text-align: center;
    padding-top: 1rem;
    width: 100vw;
    position: fixed;


}

.Navbar h3 {
    font-size: 40px;
    text-align: center;

}

.Navbar .links {
    display: flex;
    padding-top: 20px;
    align-items: center;
    margin-right: 1.2rem;


}

.links li {
    list-style: none;
    padding-left: 2rem;
    padding-top: 5px;
    display: flex;
    align-items: flex-start;


} */




.Box {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgb(199, 192, 192);
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 50%;
    border: 5px blue solid;
    border-left-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 1s 5 linear alternate-reverse 2s;
    animation-fill-mode:forwards;
    /* animation-direction: reverse; */
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}