/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 4rem;
}



.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(160, 150, 150);
    text-align: center;
    padding-top: 1rem;
    width: 100vw;
    position: fixed;


}

.Navbar h3 {
    font-size: 40px;
    text-align: center;

}

.Navbar .links {
    display: flex;
    padding-top: 20px;
    align-items: center;
    margin-right: 1.2rem;


}

.links li {
    list-style: none;
    padding-left: 2rem;
    padding-top: 5px;
    display: flex;
    align-items: flex-start;


} */




/* .Box {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgb(199, 192, 192);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 50%;
    border: 5px blue solid;
    border-left-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 1s 5 linear alternate-reverse 2s;
    animation-fill-mode:forwards;
    animation-direction: reverse;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */


/* * {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #333;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */


/* .load {
    /* margin: 50px auto; */
/* height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; */


/* .load div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: cornflowerblue;
    animation: up-to-down 0.5s infinite 2s linear;
    margin-left: 5px;
    animation-direction: alternate;
}

.load .two {
    animation-delay: 2.3s;
}

.load .three {
    animation-delay: 2.6s;
}


@keyframes up-to-down {
    to {
        opacity: 0.3;
        transform: translateY(-10px);
    }
}  */






/* .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;

}

.logo-container h1 {
    color: dodgerblue;
    padding-left: 1rem;
    font-style: oblique;
    font-size: 1.6rem;

}

ul {
    display: flex;
    list-style: none;
    margin-right: 1rem;
}

ul>li {
    padding-left: 1rem;
    font-size: medium;
    color: grey;
}

ul>li:hover {
    color: dodgerblue;
    cursor: pointer;
}


#aslema {
    background-color: red;
} */

/* body {
    padding: 0;
    margin: 0;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

label {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input {
    width: 100px;
}

.label1 {
    margin-right: 10px;
}

.label2 {
    margin-top: 10px;
}

form {
    border-radius: 3px bold red;
}

.btn {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

button {
    background-color: bisque;
    border-radius: 30px;

}

button:hover {
    background-color: brown;
    cursor: pointer;
} */